/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lato:wght@300;400&family=Montserrat:ital,wght@0,300;1,200&family=Oswald:wght@300;500&family=Roboto:wght@300;500&display=swap');
* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Oswald', arial;
    letter-spacing: 3px;
    /* font-weight: 400; */
    font-weight: 300; 
    
}

/* Home background image and navbar section */

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.3)), url(../images/background-img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    letter-spacing: 4px;
}

.border-right {
    border-right: 2px solid white;
    padding: 5px;
}

.logo {
    width: 120px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-size: large;
    color: white;
    /* font-family: 'Oswald', arial; */
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0px;
    position: relative;
}

.navbar ul li a {
    /* font-family: 'Oswald' ,Arial; */
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}


.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    /* background: #E49472; */
    background: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 90%;
    
}


.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


#home-page-btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background:rgba(0, 150, 136, .25);
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

span {
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

#home-page-btn:hover span{
    width: 100%
}

#home-page-btn:hover {
    border: none;
}


/* life-expearience section */

.container {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.left-container {
    width: 50%;
    height: 100vh;
    background-image: url(/assets/images/abs.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: 70% 70%;
    float: left;
}



.right-container {
    width: 50%;
    height: 100vh;
    background-color: #F7F7F7;
    float: right;
}

.text-container {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top: 25vh;

}

.text-container h2 {
    text-align: center;
}

.text-container p {
    text-align: center;
    line-height: 1.6;
    margin-top: 10px;
    color: #575757;
}

.fancy-style {
    background-image: linear-gradient(red, red);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 500ms ease-in-out;
}

.fancy-style:hover {
    background-size: 100% 3px;
    color: inherit;
  }



#sign-up-btn {
    width: 200px;
    padding: 15px 0;
    color: black;
    background: rgba(203, 61, 0, .25);
    border: 2px solid #CB3D00;
    text-align: center;
    margin: 20px 75px;
    border-radius: 25px;
    font-weight: bold;
    align-items: center; 
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#sign-up-btn:hover {
    background: white;
    background-color: #CB3D00;
    color: white;
}

/* #sign-up-btn span {
    background: #CB3D00;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

#Sign-up-btn:hover #sign-up-btn span {
    width: 100%
}

#sign-up-btn:hover {
    border: none;
    
} */


/* Membership section */

#membership {
    background-color: #F7F7F7;
    width: 100%;
    height: 100vh;
    text-align: center;
}

h3 {
    align-items: center;
    padding-top: 40px;
    letter-spacing: 4px;
    color: black;
    font-size: 50px;
    text-transform: capitalize;
}

#membership hr {
    width: 70%;
    border-bottom: 3px solid gray;
    margin-left: 220px;
}

.grid-container {
    display: flex;
    height: fit-content;
    max-width: 100%;
    justify-content: center;
    padding: 40px;
}

.card {
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #CB3D00;
    background-color: rgb(203, 61, 0, .25);
    width: 300px;
    padding-bottom: 10px;
} 

.card button {
    width: 150px;
    padding: 10px 0;
    margin-bottom: 10px;
    color: #fff;
    background-color: #CB3D00;
    border: 2px solid #CB3D00;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    align-items: center; 
    text-transform: uppercase;
}

.header img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h4 {
    text-transform: uppercase;
}

.card p {
    padding: 10px;
    color: black;
}

/* footer section */

#footer {
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: #F7F7F7;
    text-align: center;
    justify-content: center;
}

#quick-menu {
    width: 33.33%;
    height: 100%;
}

h5 {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    
}

#quick-menu ul {
    margin-left: 50px;
    line-height: 60px;
    list-style: none;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

#quick-menu ul li a {
    text-decoration: none;
    color: grey;
}

#motivational-quote {
    width: 33.33%;
    height: 100%;
}

q {
    font-weight: bold;
}

#quote {
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    padding: 30px;
    color: gray;
    font-size: 25px;
}

#social-media-links {
    width: 33.33%;
    height: 100%;
}

#links {
    margin-left: 50px;
    line-height: 60px;
    list-style: none;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}



@media only screen and (max-width: 600px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}