/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lato:wght@300;400&family=Montserrat:ital,wght@0,300;1,200&family=Oswald:wght@300;500&family=Roboto:wght@300;500&display=swap');
* {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --color-red: #CB3D00;
    --background-color: #F7F7F7;
}

body {
    font-family: 'Oswald', arial;
    letter-spacing: 2px;
    font-weight: 300; 
    
}

/* Home background image and navbar section */

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.3)), url(../images/background-img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    letter-spacing: 4px;
}

.border-right {
    border-right: 2px solid white;
    padding: 5px;
}

.logo {
    width: 120px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-size: large;
    color: white;
    display: flex;
    
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}


.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 90%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


#home-page-btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background:rgba(0, 150, 136, .25);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;;
}

#home-page-btn:hover {
    border: none;
    background-color: #009688;
}


/* life-expearience section */

.container {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.left-container {
    width: 50%;
    height: 100vh;
    background-image: url(/assets/images/abs.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: 70% 70%;
    float: left;
}

.right-container {
    width: 50%;
    height: 100vh;
    background-color: #F7F7F7;
    float: right;
}

.text-container {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top: 200px;
    position: absolute;
    top: 5%;
    transform: translateY(-50%);
    text-align: center;
}

.text-container h2 {
    text-align: center;
    font-size: 40px;
}

.text-container p {
    text-align: center;
    line-height: 1.6;
    margin-top: 10px;
    color: #575757;
    font-size: 20px;
}

.fancy-style {
    background-image: linear-gradient(red, red);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 500ms ease-in-out;
}

.fancy-style:hover {
    background-size: 100% 3px;
}

#sign-up-btn {
    width: 200px;
    padding: 15px 0;
    color: black;
    background: rgba(203, 61, 0, .25);
    border: 2px solid var(--color-red);
    text-align: center;
    margin: 20px 75px;
    border-radius: 25px;
    font-weight: bold; 
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#sign-up-btn:hover {
    background-color: var(--color-red);
    color: white;
}

/* Membership section */

#membership {
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}

h3 {
    align-items: center;
    padding-top: 40px;
    letter-spacing: 4px;
    color: black;
    font-size: 50px;
    text-transform: capitalize;
}

#membership hr {
    width: 70%;
    border-bottom: 3px solid gray;
    margin-left: 220px;
}

.grid-container {
    display: flex;
    height: fit-content;
    max-width: 100%;
    justify-content: center;
    padding: 40px;
}

.card {
    margin: 30px;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    padding-bottom: 10px;
    cursor: pointer;
} 

.card:hover {
    box-shadow: 10px 10px 25px grey;
}


.card button {
    width: 150px;
    padding: 10px 0;
    margin-bottom: 10px;
    color: #000;
    background-color: rgba(203, 61, 0, .25);
    border: 2px solid var(--color-red);
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    align-items: center; 
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card button:hover {
    background-color: var(--color-red);
    color: #fff;
    
}

.header img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h4 {
    text-transform: uppercase;
}

.card p {
    padding: 10px;
    color: black;
}

.arrow-up {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 100px;
}

.arrow-up a i {
    font-size: 50px;
}

.arrow-up a, .arrow-up a:visited{
    color: black;
}

#arrow-up h2{
    margin-bottom: 200px;
}

/* footer section */

#footer {
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: #F7F7F7;
    text-align: center;
    justify-content: center;
}

#quick-menu {
    width: 33.33%;
    height: 100%;
}

h5 {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    
}

#quick-menu ul {
    margin-left: 50px;
    line-height: 60px;
    list-style: none;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

#quick-menu ul li a {
    text-decoration: none;
    color: gray;
}

#quick-menu ul li a:hover {
    color: black;
}

#motivational-quote {
    width: 33.33%;
    height: 100%;
}

q {
    font-weight: bold;
}

#quote {
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    padding: 30px;
    color: gray;
    font-size: 25px;
}

#social-media-links {
    width: 33.33%;
    height: 100%;
}

#links {
    margin-left: 50px;
    line-height: 60px;
    list-style-type: none;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    
}

#links > li {
    display: inline-block;
    margin: 35px 15px;
}

#links li a, #links li a:visited {
    text-decoration: none;
    color: gray;
}

#links li a {
    font-size: 50px;
}

#links li a:hover {
    color: black;
}

/* About Us page */


#meet-the-team {
    width: 100%;
    height: 125vh;
    
}

#meet-the-team-heading {
    width: 100%;
    height: 25vh;
    margin-right: 25px;
}

#meet-the-team-heading h5 {
    margin-left: 40%;
    padding-top: 55px;
 }
 
 #heading-underline {
    width: 45%;
    border: 1px solid var(--color-red);
    margin-left: 380px;
 }

 .underline {
    width: 95%;
    border: 1px solid var(--color-red);
    margin-left: 30px;
 }
     

#pt-1 {
    width: 100%;
    height: 33.33vh;
}


#pt-2 {
    width: 100%;
    height: 33.33vh;
}

#pt-3 {

    width: 100%;
    height: 33.33vh;
}


.pt-heading {
    font-size: 25px;
    font-weight: 400;
    margin-left: 30px;
    color: gray;
    float: left;

}

.pt-heading em {
    color: var(--color-red)
}




#meet-the-team img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 10px 10px 10px 30px;
    
}

.para {
    margin: 20px;
}

.pt-container {
    display: flex;
}

.subheading {
    margin: 20px;
    font-size: 25px;
}


#test10 p {
    float: left;
}


/* Photo Gallery section */

#photo-gallery {
    height: 150vh;
    width: 100%;
}

#gallery-heading {
    background-color: var(--background-color);
    width: 100%;
    height: 25vh;
    position: relative;
}

#gallery-heading h6 {
    font-size: 40px;
}

#center {
    text-align: center;
    padding-top: 4.5%;
}

#photos {
    column-count: 3; 
    column-gap: 0;
}

#photos > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#location-section {
    width: 100%;
    height: 100vh;
    background-color: white;
}

#left-col {
    width: 50%;
    height: 100%;
    float: left;
}

#right-col {
    width: 50%;
    height: 100%;
    float: right;
}

iframe {
    width: 100%;
    height: 100%;
}


.center {
    text-align: center;
    padding: 200px 0;
}

.center h6 {
    font-size: 25px;
    margin-bottom: 20px;
}

/* Conact Us section */

#contact-us {
    width: 100%;
    height: 100vh;
}

#img-section img {
    width: 100%;
    height: 100%;
}

#form-section {
    width: 60%;
    height: 100vh;
    float: left;
    background-color: var(--background-color)
}

#img-section {
    width: 40%;
    height: 100vh;
    float: right;
}

#position-text {
    text-align: center;
    margin: 50px 0;
}

#position-text h6 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#position-text p {
    color: gray;
}

#form-container {
    width: 500px;
    height: 500px;
    background-color: var(--background-color);
    margin: 10px auto;
    border-radius: 20px;
}

input[type=text], textarea {
    width: 90%;
    padding: 12px; 
    border: 1px solid gray; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    margin-left: 20px;
    resize: vertical 
  }

  label {
    margin-left: 20px;
  }

  input[type=submit] {
    background-color: var(--color-red);
    color: black;
    padding: 12px 35px;
    background: rgba(203, 61, 0, .25);
    border: 2px solid var(--color-red);
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  input[type=submit]:hover {
    background-color: var(--color-red);
    color: white;
  }
  

 

@media only screen and (max-width: 600px) {

    .navbar {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .logo {
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .border-right {
        padding: 5px;
        border: none;
    }

    .content h1 {
        font-size: 50px;
    }





    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}