/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lato:wght@300;400&family=Montserrat:ital,wght@0,300;1,200&family=Oswald:wght@300;500&family=Roboto:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --color-red: #CB3D00;
    --background-color: #F7F7F7;
}

body {
    font-family: 'Oswald', arial;
    letter-spacing: 2px;
    font-weight: 300;
}

/* Home background image and navbar section */

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.3)), url(../images/background-img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 4px;
}

.border-right {
    border-right: 2px solid #fff;
    padding: 5px;
}

.logo {
    width: 257px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-size: large;
    color: #fff;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.gym-name {
    color: #0b7066;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


#home-page-btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: rgba(0, 150, 136, .25);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

#home-page-btn:hover {
    border: 2px solid transparent;
    background-color: #009688;
}


/* life-expearience section */

.container {
    width: 100%;
    background-color: #fff;
    display: flex;
}

.left-container {
    width: 50%;
    display: flex;
}

.left-container img {
    object-position: 70% 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

.right-container {
    width: 50%;
    background-color: #F7F7F7;
    
}

.text-container {
    text-align: center;
}

.text-container h2 {
    text-align: center;
    font-size: 40px;
}

.text-container p {
    text-align: center;
    line-height: 1.6;
    margin-top: 10px;
    color: #575757;
    font-size: 20px;
}

.fancy-style {
    background-image: linear-gradient(red, red);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 500ms ease-in-out;
}

.fancy-style:hover {
    background-size: 100% 3px;
}

#sign-up-btn {
    width: 200px;
    padding: 15px 0;
    color: black;
    background: rgba(203, 61, 0, .25);
    border: 2px solid var(--color-red);
    text-align: center;
    margin: 20px auto;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#sign-up-btn:hover {
    background-color: var(--color-red);
    color: #fff;
}

/* Membership section */

#membership {
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
}

h3 {
    align-items: center;
    padding-top: 40px;
    letter-spacing: 4px;
    color: black;
    font-size: 50px;
    text-transform: capitalize;
}

#membership hr {
    width: 70%;
    border-bottom: 3px solid gray;
    margin: 0px auto;
    margin-bottom: 30px;
}

.grid-container {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.card {
    margin: 0px 30px;
    background-color: #fff;
    width: 300px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 10px 10px 25px grey;
}

.card button {
    width: 150px;
    padding: 10px 0;
    margin-bottom: 10px;
    color: #000;
    background-color: rgba(203, 61, 0, .25);
    border: 2px solid var(--color-red);
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card button:hover {
    background-color: var(--color-red);
    color: #fff;
}

.header img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h4 {
    text-transform: uppercase;
}

.card p {
    padding: 10px;
    color: black;
}

.card i {
    color: var(--color-red);
}

/* footer section */

#footer {
    width: 100%;
    display: flex;
    background-color: var(--background-color);
    text-align: center;
    padding-top: 30px;
}

#quick-menu {
    width: 33.33%;
}

h5 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;

}

#quick-menu ul {
    line-height: 50px;
    list-style: none;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 35px;
}

#quick-menu ul li a {
    text-decoration: none;
    color: gray;
    font-size: 30px;
}

#quick-menu ul li a:hover {
    color: black;
}

#motivational-quote {
    width: 33.33%;
}

q {
    font-weight: bold;
}

#quote {
    text-align: center;
    color: gray;
    font-size: 25px;
    margin-top: 35px;
}

#social-media-links {
    width: 33.33%;
}

#links {
    list-style-type: none;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

#links > li {
    display: inline-block;
    margin: 35px 15px;
}

#links li a,
#links li a:visited {
    text-decoration: none;
    color: gray;
}

#links li a {
    font-size: 50px;
}

#links li a:hover {
    color: black;
}

/* About Us page */

/* meet the team section */

#meet-the-team {
    width: 100%;
}

#meet-the-team-heading {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
}

#meet-the-team-heading h5 {
    padding-top: 55px;
    margin: 10px auto;
    width: 50%;
    text-align: center;
}

#heading-underline {
    width: 50%;
    border: 1px solid var(--color-red);
    margin: 0px auto;
    text-align: center;
}

.underline {
    width: 95%;
    border: 1px solid var(--color-red);
    margin: 0 auto;
}

.pt-heading {
    font-size: 25px;
    font-weight: 400;
    margin-left: 30px;
    color: gray;
    float: left;
}

.surename {
    color: var(--color-red);
}

#meet-the-team img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 10px 10px 10px 30px;
}

.para {
    margin: 20px;
}

.pt-container {
    display: flex;
    line-height: 1.8;
}

.subheading {
    margin: 20px;
    font-size: 25px;
}

/* Photo Gallery section */

#photo-gallery {
    width: 100%;
}

#gallery-heading {
    background-color: var(--background-color);
    width: 100%;
    padding-bottom: 4.5%;
}

#gallery-heading h6 {
    font-size: 40px;
}

#center {
    text-align: center;
    padding-top: 4.5%;
}

#photos {
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

#girl-img {
    object-position: 100% 30%;
}

/* Location section */

#location-section {
    width: 100%;
    background-color: #fff;
    display: flex;
    margin-top: 30px;
}

#left-col {
    width: 50%;
}

#right-col {
    width: 50%;
}

iframe {
    width: 100%;
    height: 100%;
}

#left-col {
    text-align: center;
}

#left-col h6 {
    font-size: 30px;
}

#left-col p {
    margin: 10px 30px;
    font-size: 20px;
} 

.partition {
    padding: 10px;
    border-bottom: 1px solid gray;
    margin: 0px 50px;
}

/* Gym Facilities section */

.flexbox-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flexbox-container h1{
    font-size: 50px;
    margin-top: 30px;
}
    
.flexbox-container iframe {
    width: 80%;
    height: 500px;
    margin: 50px 0px;
}

.details-of-facilities h2, .details-of-facilities2 h2{
    margin-bottom: 10px;
}

.details-of-facilities p, .details-of-facilities2 p {
    line-height: 40px;
}

.facilities-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-of-facilities {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 500px;
}

.details-of-facilities b {
    font-size: 25px;
}

/* Contact Us section */

#contact-us {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
}

#img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#form-section {
    width: 60%;
    background-color: var(--background-color);
}

#img-section {
    width: 40%;
}

#position-text {
    text-align: center;
    margin: 30px 0;
}

#form-container {
    width: 500px;
    background-color: var(--background-color);
    margin: 10px auto;
    border-radius: 20px;
}

#position-text h6 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#position-text p {
    color: gray;
    font-size: 20px;
}

textarea {
    height: 200px;
}

input[type=text],
textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 20px;
    resize: vertical;
}

label {
    margin-left: 20px;
}

input[type=submit] {
    background-color: var(--color-red);
    color: black;
    padding: 12px 35px;
    background: rgba(203, 61, 0, .25);
    border: 2px solid var(--color-red);
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
}

input[type=submit]:hover {
    background-color: var(--color-red);
    color: #fff;
}

/* Media Queries section */

@media only screen and (max-width: 1120px) {
    /* Life-expearience section */
    .text-container h2 {
        font-size: 30px;
    }

    .text-container p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1051px) {

    /* meet the team section */
    .pt-container {
        display: unset;
    }

    .pt-container h6, .pt-container p {
        margin-left: 30px;
    }

    /* Photo Gallery */
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

@media only screen and (max-width: 900px) {

    /* Navbar and logo section */
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo h1 {
        text-align: center;
    }

    .logo {
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .border-right {
        padding: 5px;
        border: none;
    }

    /* Life-expearience section */
    .text-container h2 {
        font-size: 26px;
    }

    .text-container p {
        font-size: 15px;
    }

    /* Membership section */
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }
}

@media only screen and (max-width: 856px) {

    /* Contact Us section */
    #img-section {
        display: none;
    }

    #form-section {
        width: 100%;
    }
}

@media only screen and (max-width: 845px) {

    /* About Us section */
    /* Location section */
    #left-col h6 {
        font-size: 25px;
    }
    
    #left-col p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 692px) {
    /* Gym Facilities */
    .flexbox-container h1{
        font-size: 40px;
    }

    .flexbox-container {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 663px) {
    /* Footer section*/
    #links > li {
        display: inline-block;
        margin: 35px 5px;
    }
}


@media only screen and (max-width: 600px) {

    /* Navbar and logo section */
    .navbar {
        flex-wrap: wrap;
    }
    
    /* headings for home page  */
    .content h1 {
        font-size: 50px;
    }

    /* Life-expearience section */
    .text-container h2 {
        font-size: 30px;
    }

    .text-container p {
        font-size: 14px;
    }

    /* Membership section */
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    /* meet the team section */
    .pt-container {
        display: unset;
    }

    /* Footer section */
    #links li a {
        font-size: 40px;
    }

    #motivational-quote {
        display: none;
    }

    #quick-menu ul li a {
        font-size: 20px;
    }

    #footer {
      justify-content: space-evenly;
    }

    /* About Us section */
    /* Location section */

    #left-col {
        width: 100%;
    }

    #right-col {
        display: none;
    }

    /* Gym Facilites */
    .flexbox-container {
        margin-bottom: 60px;
    }

    .flexbox-container h1{
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {

    /* Life Expearience */
    .left-container {
        display: none;
    }

    .right-container {
        width: 100%;
    }

    /* Contact Us */
    #form-container {
        width: 380px;
        margin: 40px auto;
    }

    /* Gym Facilites */
    .flexbox-container h1 {
        font-size: 23px;
    }
}


/* Mobile Devices */
@media only screen and (max-width: 400px) {

    /* Life Expearience */
    .right-container {
        width: 100%;
    }

    /* Footer section */
    #links li a {
        font-size: 35px;
    }

    #quick-menu ul li a {
        font-size: 15px;
    }

    #footer h5 {
        font-size: 30px;
    }

    #quick-menu ul {
        line-height: 60px;
        list-style: none;
        font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 15px;
    }

    #links > li {
        display: block;
        margin: 15px 15px;
    }

    /* About Us section */

    /* Meet the team section */
    #meet-the-team-heading h5 {
        font-size: 30px;
    }

    #pt-1 {
        margin-top: 30px;
    }

    /* Photo Gallery section */
    #gallery-heading h6 {
        margin-top: 30px;
        font-size: 35px;
    }

    #photos {
        column-count: 1;
    }

   /* Location section */
    #left-col {
        width: 100%;
    }

    .partition {
        display: unset;
        margin: 0;
        padding: 0; 
    }

    #left-col p {
        margin: 0px;
        padding: 20px;
    }

    /* Contact Us section */
    
    #form-container {
        width: 350px;
        margin: 10px auto;
    }
}